<a href="https://colab.research.google.com/github/Jev22/AdventureProject/blob/master/Uge_5_opgave_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.optimizers import Adam
from sklearn.metrics import confusion_matrix, accuracy_score

In [ ]:
#!rm -r machine-learning/  # first remove folder, if present
!git clone https://github.com/Jev22/machine-learning

fatal: destination path 'machine-learning' already exists and is not an empty directory.

In [16]:
dataFrame = pd.read_csv('machine-learning/Churn_Modelling.csv')

In [17]:
dataFrame.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [18]:
pd.set_option('display.max_columns', None) # print all columns
X = dataFrame.iloc[:,3:-1] # select relevant rows and columns to X (here for example columns 5,6,7,8,9,10 and 11)
y = dataFrame.iloc[:, -1] # select column(s) for y (here only the last column)

In [19]:
X = pd.get_dummies(X) # convert ALL text-columns to categorical variables (One Hot encoding), e.g. gender, country etc. 
columnNames = list(X.columns) # grab column-names before converting to numpy array
X = X.values # convert from Pandas dataframe to numpy array
y = y.values # convert from Pandas dataframe to numpy array

In [24]:
#print(X[0:5,:])
#print(y[0:5])

[1 0 1 0 0]

In [20]:
scaler = StandardScaler()
X = scaler.fit_transform(X)

In [25]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.2, random_state = 42 )
# random_state (seeds) set to some value will provide same output

In [ ]:
model = Sequential()
model.add(Dense(4,activation='relu')) # 4 outputs. It will automatically adapt to number inputs
model.add(Dense(4,activation='relu'))
model.add(Dense(4,activation='relu'))
model.add(Dense(1)) # Final output node for prediction. In this case, only one output neuron

adam = Adam(learning_rate=0.001) 
model.compile(loss='binary_crossentropy', optimizer=adam, metrics=['accuracy'])

In [ ]:
model.fit(X_train,y_train,epochs=100, verbose=1)

In [ ]:
loss = model.history.history['loss']
sns.lineplot(x=range(len(loss)),y=loss)

In [ ]:
model.evaluate(X_test,y_test,verbose=1)

In [ ]:
y_pred = model.predict(X_test)
y_pred = (y_pred > 0.5) # creates a new array with true/false based on the boolean test

cm = confusion_matrix(y_test, y_pred)
print(cm)

In [ ]:
print(columnNames) # first print column names, so you can enter new data in the correct columns
new_value = [[34,1,0,7900,0,0,1,0,1,0â€¦ etc.]] # enter new data in 2D array. Only numbers + dummy variables. 
new_value = scaler.transform(new_value) # Don't forget to scale!
model.predict(new_value)

In [ ]:
model.save('my_model.h5')

In [ ]:
myModel = load_model('my_model.h5')

In [27]:
!echo "# machine-learning" >> README.md
!git init
!git add README.md
!git commit -m "first commit"
!git branch -M main
!git remote add origin https://github.com/Jev22/machine-learning.git
!git push -u origin main

Initialized empty Git repository in /content/.git/

*** Please tell me who you are.

Run

  git config --global user.email "you@example.com"
  git config --global user.name "Your Name"

to set your account's default identity.
Omit --global to set the identity only in this repository.

fatal: unable to auto-detect email address (got 'root@6a2506a47bc9.(none)')
error: refname refs/heads/master not found
fatal: Branch rename failed
error: src refspec main does not match any.
error: failed to push some refs to 'https://github.com/Jev22/machine-learning.git'